<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Demo App Suite" parallel="false" thread-count="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.nextbillion.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.nextbillion.tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.nextbillion.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
